.about-me {
    background-color: #252525;
    background-image: linear-gradient(180deg, #252525, #363333, #1c2f38);
    padding: 5rem 0;
    animation: a .5s ease;
    overflow: hidden;
    min-height: 60vh;
    display: flex;
    align-items: center;
    position: relative;
}

@keyframes a {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.about-me__container {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.about-me--img {
    width: 280px;
    height: 300px;  
    object-fit: cover;
    object-position: top;
    border: 2px solid #fff;
    border-radius: .5rem;
    transition: all .5s ease-in-out;
    box-shadow: 0px 0px 20px #fff;
}

.about-me__content {
    color: #fff;
    max-width: 650px;
    transition: all .5s ease-in-out;
}

.about-me h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    position: absolute;
    top: 2%;
    width: 100%;
    z-index: 1;
}

.about-me h2::after {
    content: "";
    position: absolute;
    background-color: #32557f;
    box-shadow: 0px 0px 15px #32557f;
    width: 160px;
    height: 10px;
    bottom: 15px;
    left: 45.5%;
    z-index: -1;
}

.about-me__content p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 1.7;
    margin: 0 1rem;
}

@media screen and (max-width: 1014px) {

    .about-me__container {
      margin-top: 5rem;
    }
    .about-me__content p {
        font-size: 1.1rem;
    }
}