.projects {
    background-color: #252525;
    background-color: red;
    background-image: url("../../images/projects-bg1.jpg");
    background-size: cover;
    padding: 5rem 0;
    overflow: hidden;
    min-height: 80vh;
    position: relative;
}

.projects::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(180deg, #1c2f38, transparent);
}

.projects__container {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.projects h2 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    position: relative;
    text-shadow: 0px 0px 10px #fff;
    margin-bottom: 5rem;;
    z-index: 1;
}

.projects h2::after {
    content: "";
    position: absolute;
    background-color: #7eb4e2;
    box-shadow: 0px 0px 15px #7eb4e2;
    width: 160px;
    height: 10px;
    bottom: 5px;
    left: 45%;
    z-index: -1;
 }

.project--card {
    width: 330px;
    background-color: #fff;
    border-radius: .5rem;
    text-align: center;
    z-index: 10;
    box-shadow: 0px 0px 10px #fff;
}

.project--img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: .5rem .5rem 0 0;
}

.project--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    padding: 0 1rem .5rem;
}

.project--content h4,
.project--content p {
    margin: .5rem;
}

.project--content h4 {
    font-size: 1.5rem;
    margin-bottom: 0 !important;
}

.project--content p {
    margin-top: 0;
}

.project--btn {
    background-image: linear-gradient(90deg, #32557f, #7eb4e2 , #32557f);
    background-size: 300%;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #252525;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin: 0 .25rem;
    transition: background-position .3s ease-in-out;
}

.project--btn:hover {
    background-position: right;
}