.hero {
    height: 140vh;
    overflow-y: hidden;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.hero::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(36, 44, 68);
    z-index: 4;
    opacity: .2;
}

.hero--title {
    /* font-family: 'SF Hollywood Hills', sans-serif; */

    position: absolute;
    right: -9%;
    /* top: 28%; */
    bottom: 50%;
    font-size: 5.7rem;
    transform: rotateY(55deg) rotateZ(1deg) rotateX(-10deg);
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgb(43, 37, 37);
    opacity: .9;
    transition: opacity .5s ease-in-out;
    width: max-content;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #ffffff33);
    line-height: .8;
    outline: none;
    animation: animate 2s linear infinite alternate;
}

@keyframes animate {
    from{
        color: #eee;
    }
    to {
        color: #fff;
        text-shadow: 0 0 10px #44bde222, 
        0 0 20px #03bcf422,
        0 0 40px #03bcf422,
        0 0 60px #03bcf422,
        0 0 100px #03bcf422;
    }
}

.letter-up {
    display: inline-block;
    transform: translateY(4px);
}
.letter-down {
    display: inline-block;
    transform: translateY(-4px);
}

.hero--text {
    font-family: 'Redressed', cursive;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 5;
    color: #fff;
    font-size: 2.2rem;
    padding: .5rem 4rem .5rem 0;
    border-right: 6px solid green;
    font-weight: bold;
    letter-spacing: 2px;
    animation: show-text 1s ease;
    transition: transform 1s ease; 
}

@keyframes show-text {
    from {
        opacity: 0;
        transform: translateX(400px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

.green {
    color: green;
}

.image {
    position: relative;
    height: 140vh;
}

.react-parallax-bgimage {
    width: 100% !important;
    height: 100% !important;
}

.hero img {
    width: 100%;
    position: absolute;
    height: 140vh;
    object-fit: cover;
    object-position: right;
}

.hero--sun {
    opacity: .7;
    margin-top: 10%;
    width: 400px !important;
    height: 400px !important;
    left: 20%;
    position: absolute;
}

.hero--bg2 {
    z-index: 3;
}


.hero--birds {
    animation: fly 20s infinite linear;
}

@keyframes fly {
    0% {
        transform: translate(0);
        z-index: 6;
    }
    10%{
        transform: translate(150px);
        z-index: 6;
    }

    20% {
        transform: translate(300px);
        z-index: 6;
    }
    30%{
        transform: translate(450px, 50px) scale(.95);
        z-index: 6;
    }
    40% {
        transform: translate(600px, 75px) scale(.9);
        z-index: 6;
    }
    50% {
        transform: translate(800px, 100px) scale(.8);
        z-index: 6;
    }
    51% {
        transform: translate(800px, 100px) scale(.8) rotateZ(180deg);
        z-index: 3;
    }
    60%{
        transform: translate(500px, 75px) scale(.8) rotateZ(180deg);
        z-index: 3;
    }
    70%{
        transform: translate(350px, 75px) scale(.8) rotateZ(180deg);
        z-index: 3;
    }
    80%{
        transform: translate(-100px, 75px) scale(.8) rotateZ(180deg);
        z-index: 3;
    }
    90%{
        transform: translate(-250px, 245px) scale(.8);
        z-index: 3;
    }
    91%{
        transform: translate(-150px, 70px) scale(.8);
        z-index: 3;
    }
    100% {
        transform: translate(0) scale(1);
        z-index: 3;
    }
}
@media screen and (max-width: 1550px) {
    .hero--title {
        right: -12%;
        font-size: 5.5rem;
    }
}

@media screen and (max-width: 1450px) {
    .hero--title {
        right: -12%;
        font-size: 5.3rem;
    }
}

@media screen and (max-width: 1350px) {
    .hero--title {
        right: -12%;
        font-size: 5rem;
    }
}

@media screen and (max-width: 1200px) {
    .hero--title {
        right: -12%;
        font-size: 4.8rem;
    }
    .hero--sun {
        left: -15%;
    }
}


@media screen and (max-width: 800px) {
    .hero--sun {
        display: none;
    }
    .hero--title {
        right: -18%;
    }
}

@media screen and (max-width: 600px) {
    .hero--title {
        right: -25%;
        font-size: 4.8rem;
    }
    .hero--text {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 500px) {
    .hero--title {
        font-size: 4rem;
        right: -30%;
    }
}

@media screen and (max-width: 420px) {
    .hero--title {
        font-size: 3.8rem;
        right: -28%;
    }
}

@media screen and (max-width: 350px) {
    .hero--title {
        font-size: 3.5rem;
        right: -27%;
        letter-spacing: 3px;
    }
}